**/.DS_Store
VERSION

# Running CTest makes a bunch o junk
Testing

# IDE config
.idea

# clion cmake builds
cmake-build-debug
cmake-build-release
cmake-build-relwithdebinfo
packaging/Output/*

# custom build folders
build-debug
build-release